@import 'common';

* {
    font-family: $font-stack;
    letter-spacing: 0.5px;
}

body {
    background-color: $background-color;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes card-animation {
    0% {
        opacity: 0;
        transform: translateX(30px) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

#card {
    width: $card-width;
    height: $card-height;

    border-radius: 16px;

    background-color: $card-primary-color;

    box-shadow: .5rem 1rem 1rem rgba(#0a0a0a, 0.6);

    animation: card-animation 1.3s;
}

@keyframes card-content-animation {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

$cc-horizontal-padding: 20px;
#card-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: $card-height - $cc-horizontal-padding * 2;

    padding: $cc-horizontal-padding 40px $cc-horizontal-padding;

    animation: card-content-animation 1.0s;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
}

#copyright {
    // The shadown size of the card plus some
    margin-top: 2rem;
    color: $text-color;

    animation: card-animation 1.3s;
}
