head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')

    script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src='public/scripts/burgers.js')
    script(src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI")
