doctype html
html(lang='en')
    include head
    include navbar

    //section(class="hero is-dark")
        div(class="hero-body")
            div(class="container is-fullhd")
                h1(class="title")="Axel Neergaard"
                h2(class="subtitle")="It works!"

    body
        section(class="section")
            div(class="container")
                block content

    include footer
