nav(class="navbar has-shadow is-spaced is-dark")
    div(class="container")
        div(class="navbar-brand")
            h5(id="main-name" class="title is-5 white")
                a(class="navbar-item" href="")="Axel Neergaard"
        div(class="navbar-menu")
            div(class="navbar-start")
                a(class="navbar-item is-active" href="/contact")="Contact"
        div(class="navbar-end")
            div(class="navbar-item")
                p(class="control")
                    a(class="button is-primary")="TEMP"
