block content
    .hero-head
        nav.navbar
            .navbar-brand
                //- TODO: on-hover show a card?
                figure.navbar-item.image.is-48x48
                    a(href="/")
                        img.is-rounded(src="/public/cookie.png")
            .navbar-menu
                .navbar-end
                    mixin nav-item(href, name)
                        a(href=href)&attributes(attributes)= name

                    +nav-item('/', 'Home')(class="navbar-item")
                    +nav-item('/contact', 'Contact')(class="navbar-item")
                    +nav-item('/projects', 'Projects')(class="navbar-item")
