doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='axel neergaard')
    meta(name='keywords' content='homepage')
    meta(name='robots' content='index, nofollow')
    meta(name='description' content='axel neergaard - developer')
    meta(property='og:description' content='axel neergaard - developer')
    meta(property='og:title' content='axel neergaard')
    title axel neergaard

    link(rel='stylesheet' href='assets/css/styles.css')
    link(rel='shortcut icon' href='/assets/favicon.ico' type='image/x-icon')

    block links

  body
    block content
