extends base.pug

block content
  #container
    //- FIXME: why won't the CSS selector pick this?
    h1(style='margin: 0 0 16px 0;')
      a(href='mailto:axel@neergaard.dev')
        | axel
        .dim @
        |  neergaard
        .dim .dev
    h2
      a(href='https://github.com/c00k133')
        | github: @c00k133
