extends base.pug

block content
  #container
    //- FIXME: why won't the CSS selector pick this?
    h1(style='margin: 0 0 16px 0;')
      a.with-prompt(href='mailto:axel@neergaard.dev')
        | axel
        .dim @
        |  neergaard
        .dim .dev
    h2
      a(href='https://github.com/c00k133')
        .secondary github: @c00k133
    h3
      a(href='https://digital-garden.neergaard.dev')
        .secondary blog.neergaard.dev

    #pgp-keys-small
      h5
        a(href='/assets/neergaard-pgp-key.asc')
          | PGP Public Key: neergaard-pgp-key.asc
      h5
        a(href='/assets/neergaard-pgp-key.asc.sha256')
          | SHA256: neergaard-pgp-key.asc.sha256

  #pgp-keys-large
    h6
      a(href='/assets/neergaard-pgp-key.asc')
        | PGP Public Key: neergaard-pgp-key.asc
    h6
      | SHA256:
      a(href='/assets/neergaard-pgp-key.asc.sha256')
        include ../../assets/neergaard-pgp-key.asc.sha256
