#left-side
  #image-container
    #drawing-container
      img#drawing(
        src='assets/images/cookie.svg'
        alt='There should be a nice picture of me here...')

    img#real(
      src='assets/images/real.png'
      alt='There should be a nice picture of me here...')
