#right-side
  #title
    #name-box
      #name Axel Neergaard
      #nickname Cookie
    #location
      #named Helsinki, Finland
      #coordinates 60.16952, 24.93545
    hr

  #information
    | MSc at #[a(href='https://aalto.fi/') Aalto University], Finland, pursuing a degree in Security and Cloud Computing.
    | Also a full-stack engineer at #[a(href='https://smartly.io/') Smartly.io].

  #navigation
    a(href='https://github.com/c00k133/')
      i.fab.fa-github-square

    a(href='https://www.linkedin.com/in/axel-neergaard-7119701a1')
      i.fab.fa-linkedin

    a(href='assets/cv.pdf')
      i.fas.fa-file

    a(href='mailto:axel@neergaard.dev')
      i.fas.fa-envelope
