extends layouts/main

block content
    section.hero.is-fullheight.is-dark
        include layouts/navbar

        .hero-body
            .container
                mixin apply-sizing(contact_size, email_size)
                    p.title.has-text-centered(class=contact_size)&attributes(attributes)
                        | Contact me:
                    p.has-text-centered
                        a.title(class=email_size, href="mailto:" + email)&attributes(attributes)
                            | #{email}

                //- Add larger text if using larger screen...
                +apply-sizing("is-4", "is-3")(class="is-hidden-touch")
                //- ...and tinier if on smaller
                +apply-sizing("is-5", "is-4")(class="is-hidden-desktop")
