extends layouts/main

block content
    section.hero.is-fullheight
        include layouts/navbar

        .hero-body
            .container
                p.has-text-centered
                    a.title.is-4.is-hidden-desktop(href="mailto:" + email) #{email}
                    a.title.is-hidden-touch(href="mailto:" + email) #{email}

