extends layouts/main

block content
    //- https://bulma.io/documentation/layout/hero/
    section.hero.is-dark.is-fullheight
        include layouts/navbar

        .hero-body
            .container
                .tile.is-ancestor

                    // Picture and name
                    .tile
                        .tile.is-1
                        .tile.is-parent
                            .tile.is-child.has-text-centered
                                .is-flex#image-center
                                    figure.image.is-128x128
                                        img.is-rounded(src=intro_image)
                                p.title.is-2 Axel Neergaard

                    // Short introduction
                    .tile
                        .tile.is-parent.is-vertical
                            .tile.is-child.is-vertical-center
                                article.title.is-3
                                    | Computer science enthusiast from Finland
                            .tile.is-child
                                .content.is-medium
                                    p.
                                        I am a computer science student at Aalto University, Espoo, Finland.
                                        My interests lie in all fields of computer science, with an interest in product development.
                    .tile.is-1

    style(type='text/css').
        /* Allow horizontal centering of images. */
        #image-center {
            justify-content: center;
        }

        /* Allow vertical centering of text. */
        .is-vertical-center {
            display: flex;
            align-items: center;
        }
