extends layouts/main

block content
    section.hero.is-fullheight
        include layouts/navbar

        .hero-body
            .container
                a.button
                    span.icon
                        i.fab.fa-github
                    span GitHub
