$font-stack: 'Montserrat', sans-serif;

$background-color: #878472;
$card-primary-color: #f0ead6;
$card-secondary-color: #de541e;
$text-color: #3f3f37;

$card-width: 700px;
$card-height: $card-width / 1.8;  // Ratio of business card in Finland in 1.8
