@import 'common';

* {
    font-family: $font-stack;
    letter-spacing: 0.5px;
}

body {
    background-color: $background-color;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#card {
    width: $card-width;
    height: $card-height;

    border-radius: 16px;

    background-color: $card-primary-color;

    box-shadow: .5rem 1rem 1rem rgba(#0a0a0a, 0.6);
}

$cc-horizontal-padding: 20px;
#card-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: $card-height - $cc-horizontal-padding * 2;

    padding: $cc-horizontal-padding 40px $cc-horizontal-padding;
}
