@import 'common';

#right-side {
    width: $card-width / 12 * 8;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;


    #title {
        padding-bottom: 10px;

        #name-box {
            $name-transition: opacity 0.5s ease-in-out;
            position: relative;

            %name-style {
                font-weight: 800;
                font-size: 160%;
                color: $card-secondary-color;

                -webkit-transition: $name-transition;
                -moz-transition: $name-transition;
                -o-transition: $name-transition;
                transition: $name-transition;
            }

            #name {
                @extend %name-style;
                opacity: 1.0;
            }

            #nickname {
                @extend %name-style;
                opacity: 0.0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
        }

        #location {
            $location-transition: opacity 0.5s ease-in-out;
            position: relative;

            %location-style {
                font-weight: 300;
                font-style: italic;

                -webkit-transition: $location-transition;
                -moz-transition: $location-transition;
                -o-transition: $location-transition;
                transition: $location-transition;
            }

            #named {
                @extend %location-style;
                opacity: 1.0;
            }

            #coordinates {
                @extend %location-style;
                opacity: 0.0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
        }

        &:hover, &:active {
            #name-box #name,
            #location #named {
                opacity: 0.0;
            }
        }

        &:hover, &:active {
            #name-box #nickname,
            #location #coordinates {
                opacity: 1.0;
            }
        }

        hr {
            border: 0px;
            border-top: 2px solid;
            color: $text-color;
            opacity: 0.4;
        }
    }

    #information {
        padding-bottom: 20px;
    }

    #navigation a {
        font-size: 200%;
        color: $background-color;
        margin-right: 15px;
    }
}
