doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Axel Neergaard

    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,800&display=swap')

    block links

  body
    #container
      #card
        #card-content
          block content
