#right-side
  #title
    #name-box
      #name Axel Neergaard
      #nickname Cookie
    #location
      #named Helsinki, Finland
      #coordinates 60.16952, 24.93545
    hr

  #information
    | MSc at #[em Aalto University, Finland], pursuing a degree in Security and Cloud Computing.
    | Currently on exchange as a Kingfisher at #[em Yale-NUS, Singapore].
    | Also a full-stack engineer at #[em Smartly.io].

  #navigation
    a(href='https://github.com/c00k133/')
      i.fab.fa-github-square

    a(href='https://www.linkedin.com/in/axel-neergaard-7119701a1')
      i.fab.fa-linkedin

    a(href='mailto:axel.neergaard@gmail.com')
      i.fas.fa-envelope
