$content-color: #fbd3c0;
$background-color: #121212;

$border-width: 6px;

$card-width: 700px;
$finnish-business-card-ratio: 1.8;
$card-height: $card-width / $finnish-business-card-ratio;

$font-nova-mono: 'Nova Mono';
$font-stack: $font-nova-mono, monospace;
@font-face {
    font-family: $font-nova-mono;
    src: url('../fonts/NovaMono-Regular.ttf') format('truetype');
}
