@import 'common';
// FIXME: should not have to define full path for this
@import 'node_modules/include-media/dist/_include-media.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: $font-stack;
    letter-spacing: 0.5px;
    font-weight: 600;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $background-color;
    color: $content-color;

    @include media('<=tablet') {
        padding: $border-width 0 $border-width;
    }

    @include media('height<=tablet') {
        padding: $border-width 0 $border-width;
    }
}

a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        text-decoration: underline;

        > .dim {
            color: darken($content-color, 10%);
            text-decoration: underline;
            text-decoration-color: $content-color;
        }
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: $border-width solid $content-color;

    @include media('height>tablet') {
        width: $card-width;
        height: $card-height;
    }

    @include media('>tablet') {
        width: $card-width;
        height: $card-height;
    }

    @include media('height<=tablet') {
        width: 100%;
        height: 100%;
    }

    @include media('<=tablet') {
        width: 100%;
        height: 100%;
    }

    h1 {
        margin: 0 0 16px 0;
    }
}

.dim {
    display: inline;
    position: absolute;
    color: $dim-color;

    @include media('<=500px') {
        visibility: hidden;
    }
}
